@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@500;600&display=swap');
/* font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif; */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4%;
    margin-top: -3%;
    overflow: hidden;
}
.home_1 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 50%;
    margin: 1%;
    font-family: 'Quicksand', sans-serif;
}
.home_1 > h1 {
    font-size: 3rem;
    font-weight: 500;
    font-family: 'Readex Pro', sans-serif;
}
.home_1 > h2 {
    font-size: 1.7rem;
    font-weight: 400;
    color: #625B5B;
    margin-top: -1%;
}
.home_img {
    margin-left: 1%;
    width: 50%;
}
.home_img > img{
    width: 90%;
    height: 90%;
}
.home_input_btns {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: 10%;
}
.home_input_btns > button {
    font-size: 1.4rem;
    border: 2px solid royalblue;
    background: transparent;
    color: royalblue;
    cursor: pointer;
    transition: 0.2s ease;
}
.home_input_btns > button:hover {
    background: royalblue;
    color: white;
}
.input_bx {
    margin-left: 2%;
    display: flex;
    justify-content: left;
    align-items: left;
    border: 2px solid black;
    padding: 1%;
}
.input_bx > img {
    width: 10%;
}
.input_bx > input {
    font-size: 1.5rem;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    margin-left: 0.7%;
}
.input_bx > input:focus {
    border-bottom: 1px solid blue;
}
.home_info {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-top: 5%;
}
#bar {
    width: 600px;
    height: 1.5px;
    background: rgb(100, 98, 98);
}



