body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  cursor: pointer;
  background: whitesmoke;
}
body::-webkit-scrollbar-track {
  width: 10px;
  height: 8px;
  background: rgba(238, 237, 237, 0.212);
  cursor: pointer;
}
body::-webkit-scrollbar-thumb {
  width: 10px;
  height: 8px;
  background: rgb(194, 189, 189);
  cursor: pointer;
}
body::-webkit-scrollbar-thumb:hover {
  background: rgb(173, 173, 173);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
